.app-container {
    background: var(--background-color);
    background: rgba(16, 19, 20, 0.8);
    font-family: 'Signika Negative', sans-serif;;
    font-size: 1.5em;
    color: var(--text-color);
    height: 100%;

    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 2fr 9fr 3fr;

}

.app-container a {
    text-decoration: none;
    color: inherit;
}

@media screen and (max-width: 1000px) {
    .app-container {
        font-size: 1.4em;
    }
}
